body {
  color: #000000;
  background: #515151;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body, div, p, a, input, textarea, select {
  font: 12px/16px "Trebuchet MS", Arial, sans-serif;
}

a:link, a:visited {
  color: #5b48b7;
  text-decoration: underline;
}

a:link:hover,
a:visited:hover {
  color: #52bab1;
  text-decoration: none;
}

#wrapper{
	margin: auto;
}

#header {
	background:#d2cafe;
	height:60px;
	text-align:center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#header h1 {
  padding: 25px;
	margin-left: 210px;
}

#content h2{
	margin: auto;
	padding-top: 20px;
	text-align: center;
}

#content h3{
	text-align: center;
}
   
#content {
	background: #ffffff;
	width: 100%;
  margin: 0 0 0 0;
	padding: 0 0 0 0;
  min-height: 400px;
	text-align: left;
}

#content p {
  padding: 5px 25px 0 25px;
  margin: 0 0 0 0;
  text-indent: 1em;
}

#nav{
	float: left;
	min-height: 400px;
  background: #d2cafe;
	width: 15%;
	text-align: left;
}

#nav ul{
	list-style: none;
	margin: auto;
}

#nav ul li{
	padding-top: 10px;
}

fieldset {
	border: 0px;
	width: 300px;
	margin-left: 25px;
	padding-top: 25px;
}

label {
	float: left;
	clear: left;
	width: 10em;
	text-align: right;
	margin-right: 1em;
	margin-bottom: 3px;
	margin-top: 3px;
}

input, select{
	float: left;
	margin-top: 3px;
	margin-bottom: 5px;
}

input.button{
	float: none;
	clear: both;
	display: block;
	margin: auto;
	margin-top: 10px;
}

li span{ 
	margin-left: 5px;
}

li span.head_foot{ 
	margin-left: 0px;
}

span a:link, 
span a:visited {
  color: #CD3700;
  text-decoration: underline;
}

span a:link:hover,
span a:visited:hover {
  color: #FF6600;
  text-decoration: none;
}

pre {
	padding: 0;
	margin: 0;
	background: #f0f0f0;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	line-height: 20px; /*--Height of each line of code--*/
	width: 100%;
	overflow: auto; /*--If the Code exceeds the width, a scrolling is available--*/
	overflow-Y: hidden;  /*--Hides vertical scroll created by IE--*/
}
pre code {
	margin: 0 0 0 40px;  /*--Left Margin--*/
	padding: 18px 0;
	display: block;
}

#eye  img {
position: absolute; 
top: 40px; 
left: 215px; 
} 

#mouth  img {
position: absolute; 
top: 75px; 
left: 200px; 
}

#nose  img {
position: absolute; 
top: 60px; 
left: 200px; 
}